@import url('fonts.css');

:lang(en) {
  font-family: 'Book Antiqua';
}

:lang(zh) {
  font-family: 'jf-jinxuan-fresh2.2';
}

.zh-large,
.submenu>a,
h2,
h3 {
  font-family: 'ARMingB5Heavy' !important;
  margin: 0;
}

.en-small {
  font-family: 'Book Antiqua';
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin: 0;
}

article>section {
  width: 100vw;
  position: relative;
  background-image: url(./img/background/Background.jpg);
  background-repeat: repeat;
}


header,
section {
  height: 100dvh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

section {
  display: none;
  scroll-snap-align: start;
}

.carousel {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  overflow: hidden;
  z-index: -999;
}

.carousel img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -o-object-fit: cover;
  object-fit: cover;
  scale: 1;
  transition: opacity 1s ease, transform 5s ease;
}

.carousel img.active {
  opacity: 1;
  transform: scale(1.1);
}

.carousel_cover {
  opacity: .5;
  background-color: #000000;
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
}

.cover {
  width: clamp(300px, 50vw, 400px);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.cover img {
  opacity: 0;
}

.logo {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#cross {
  align-self: center;
  justify-self: center;
  filter: drop-shadow(0px 0px 10px #000);
  scale: 1.2 !important;
}

#logo-06,
#logo-07,
#logo-08,
#logo-09 {
  width: clamp(60px, 10vw, 123px);
  height: auto;
  filter: drop-shadow(0px 0px 10px #000);
  justify-self: center;
  -o-object-fit: contain;
  object-fit: contain;
}

#logo-06 {
  align-self: flex-end;
}

#logo-07 {
  justify-self: flex-end;
}

#logo-08 {
  align-self: flex-start;
}

#logo-09 {
  justify-self: flex-start;
}

#erin-logo {
  width: clamp(150px, 100vw, 350px);
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  opacity: 0;
  z-index: 1;
}

#section-01 {
  width: 40vw;
  -o-object-fit: contain;
  object-fit: contain;
}

#IamErin {
  /* display: flex; */
  height: 100dvh;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  color: #333333;
}

#section1-photo {
  max-width: 100%;
  max-height: 100%;
  align-self: flex-start;
  object-fit: cover;
}

#section1-title {
  line-height: 4.5rem;
  font-size: 4.5rem;
  margin: 0;
  text-wrap: nowrap;
}

#section1-subtitle {
  font-size: 3rem;
}

#section1-intro {
  width: 30%;
}

#section1-exp,
#section1-motto {
  font-size: 1.3rem;
  line-height: 2.5rem;
  text-wrap: nowrap;
}

#section1-exp {
  display: flex;
  align-items: flex-start;
  color: #A4110F
}

#section1-exp>div:first-child {
  white-space: nowarp;
  flex-shrink: 0;
}

#section1-exp>div:last-child {
  word-break: break-word;
}

.fade-item {
  opacity: 0;
}

.menu-container {
  height: clamp(80px, 10vh, 150px);
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 98;
}

.menu {
  display: flex;
  align-items: stretch;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px #333333;
  width: clamp(1400px, 90vw, 1920px);
  height: 100%;
  z-index: 99;
}

.menu-icon,
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #333333;
  cursor: pointer;
}

.menu-icon {
  background-image: url('./img/section1/Erin logo-Color.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-icon::after,
.menu-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 40%;
  /* 控制線條長度（40% 高度） */
  border-left: 1px solid black;
}

.menu-item>.zh-large {
  font-size: 1.5rem;
}

.menu-item>.en-small {
  line-height: 1rem;
  font-size: .8rem;
}

.menu-item:hover {
  background-color: #ffa4a6;
  color: #ffffff;
}

.menu-icon>img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.submenu {
  display: none;
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
  background-color: rgba(107, 51, 53, 0.5);
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submenu>a {
  padding: .8rem;
  color: #ffffff;
  text-decoration-line: none;
}

.submenu>a:hover {
  background-color: rgba(49, 32, 32, 0.5);
}

.menu-item:hover .submenu {
  display: flex;
  flex-direction: column;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}


#CoverStory {
  background-color: #ffb4b4;
  background-blend-mode: multiply;
}

#CoverStory .title {
  display: inline-flex;
  width: 100%;
  height: 25%;
  justify-content: center;
  align-items: center;
}

#CoverStory .title>img {
  height: auto;
  width: clamp(80px, 100vw, 90px);
}

#CoverStory .logo {
  width: clamp(200px, 100vw, 220px);
  height: auto;
}

#CoverStory .logo-sm {
  width: clamp(100px, 100vw, 120px);
  height: auto;
}

.cover-cross-line {
  position: absolute;
  z-index: 0;
}

.cover-horizontal-line {
  width: 80%;
  height: 1px;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  background: linear-gradient(to right, #1a1a1a 0%, #1a1a1a 40%, #00000000 40%, #00000000 60%, #1a1a1a 60%, #1a1a1a 100%);
}

.cover-vertical-line {
  height: 80%;
  width: 1px;
  left: 50%;
  top: 10%;
  padding: 0;
  transform: translateX(-50%);
  background: linear-gradient(to bottom, #1a1a1a 0%, #1a1a1a 20%, #00000000 20%, #00000000 80%, #1a1a1a 80%, #1a1a1a 100%);
}

@media (max-width: 1400px) {

  #IamErin {
    align-content: center;
    justify-content: center;
  }

  #section1-photo {
    height: 400px;
    justify-self: flex-end;
    clip-path: circle(35% at center);
  }

  #section1-title {
    justify-self: flex-start;
  }

  #section1-exp {
    margin-right: 0;
    justify-content: center;
  }

  #section1-intro {
    width: 90%;
    text-align: center;
  }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: white;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    transition: left 0.3s ease;
  }

  .menu.active {
    left: 0;
  }

  .menu-toggle {
    display: block;
    position: fixed;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .menu-icon::after,
  .menu-item:not(:last-child)::after {
    content: none;
  }

  .submenu {
    position: relative;
    display: none;
    flex-direction: column;
    background-color: rgba(225, 79, 82, 0.15);
    top: 0;
  }

  .menu-item:hover .submenu {
    display: flex;
  }

  .submenu a {
    padding: 0.5rem 1rem;
  }

  .cover-horizontal-line,
  .cover-vertical-line {
    display: none;
  }

  .cover-mobile-divider {
    height: 2px;
    background-color: #000;
    opacity: 0.3;
    width: 80%;
    margin: 2rem auto;
  }
}

@media (max-width: 768px) {

  #IamErin {
    align-content: center;
    justify-content: center;
  }

  #section1-photo {
    height: 250px;
    align-self: flex-end;
    clip-path: circle(35% at center);
  }

  #section1-title {
    font-size: 2.5rem;
    align-self: flex-start;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  #section1-subtitle {
    font-size: 2rem;
  }

  #section1-exp,
  #section1-motto {
    font-size: 1rem;
    line-height: 1rem;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }

  #section1-intro {
    width: 90%;
    margin: 0;
    text-align: center;
  }
}